.main-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
  font-size: 16px;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.search {
  padding: 4px;
}
.image-card {
  width: 200px;
}
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.res-card {
  width: 200px;
  height: 400px;
  background-color: #c0c0c0;
  padding: 3px;
  margin: 5px;
}

.res-card-img {
  padding: 5px;
  width: 190px;
  height: 200px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}
button {
  cursor: pointer;
}
.spinner {
  margin: 50px auto;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ff6347;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.5s none infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
